> <div class="col-xs-8 col-xs-offset-2">
>   <form class="form-horizontal" id="customer-comment-form" action="https://wmhnsxabfe.execute-api.eu-west-1.amazonaws.com/prd/comment" accept-charset="UTF-8" method="post">
>     <div class="margin_bottom_15">
>       <div class="form-group comment_message_nick">
>         <input class="form-control" placeholder="Name / Nick" type="text" name="nick" id="comment_message_nick" required />
>       </div>
>       <div class="form-group comment_message_text">
>         <textarea rows="3" class="form-control" placeholder="Message text" name="comment" id="comment_message_text" required></textarea>
>       </div>
>       <div class="form-actions">
>         <button id="comment-form-submit-button" name="button" type="submit" class="btn-default btn btn-primary btn-lg custom_button">Submit</button>
>         <button id="comment-form-loading-submit-button" name="button" class="btn btn-default btn-primary btn-lg form-hidden custom_button">Submitting...</button>
>       </div>
>     </div>
>     <div class="left float_100">
>       <div class="alert alert-danger form-hidden" id="comment-form-failed-to-submit" role="alert">
>         <strong>Failed to submit the form</strong> Please, try again.
>       </div>
>       <div class="alert alert-success form-hidden" id="comment-form-was-submitted" role="alert"><strong>Thank you!</strong> I will add your comment in a future.</div>
>     </div>
>   </form>
> </div>
