<!-- Get the last 3 featured_post -->

{% assign MAX_SIZE = 3 %}

{% assign all_list = '' | split: '' %}

{% for post in site.posts %}
  {% if post.featured_post %}
    {% capture elem %}
      {% if post.featured_post == true %}
        {{- post.featured_post -}}::{{- forloop.index0 -}}
      {% endif %}
    {% endcapture %}
  {% assign all_list = all_list | push: elem %}
  {% endif %}
{% endfor %}

{% assign all_list = all_list | sort | reverse %}

{% assign featured_list = '' | split: '' %}

{% for entry in all_list limit:MAX_SIZE %}
  {% assign featured_list = featured_list | push: entry %}
{% endfor %}


{% if featured_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.featured_post -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for item in featured_list %}
        {% assign index = item | split: '::' | last | plus: 0 %}
        {% assign post = site.posts[index] %}
        {% assign url = post.url | relative_url %}
        <li class="text-truncate lh-lg">
          <i class="fa fa-flag" aria-hidden="true"></i>
          <a href="{{ url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- #access-featured_post -->
{% endif %}