> <div class="col-xs-8 col-xs-offset-2">
>   <form class="form-horizontal" id="customer-contact-form" action="https://www.playingaws.com/api/v2/feedback" accept-charset="UTF-8" method="post">
>       <div class="form-group">
>       <select id="feedback_type" class="form-control" name="type" required>
>         <option value="" disabled selected>{{ site.data.locales[page.lang].feedback_form.choose_type }}</option>
>         <option value="General Comment">{{ site.data.locales[page.lang].feedback_form.general_comment }}</option>
>         <option value="Suggestion">{{ site.data.locales[page.lang].feedback_form.suggestion }}</option>
>         <option value="Error Report">{{ site.data.locales[page.lang].feedback_form.error_report }}</option>
>         <option value="Content Request">{{ site.data.locales[page.lang].feedback_form.content_request }}</option>
>       </select>
>     </div>
>     <div class="form-group contact_message_text">
>       <textarea rows="3" class="form-control" placeholder="{{ site.data.locales[page.lang].feedback_form.message_placeholder }}" name="message" id="contact_message_text" required></textarea>
>     </div>
>     <div class="form-group contact_message_name">
>       <input class="form-control" placeholder="{{ site.data.locales[page.lang].feedback_form.full_name_placeholder }}" type="text" name="name" id="contact_message_name" />
>     </div>
>     <div class="form-group contact_email">
>       <input class="form-control" placeholder="{{ site.data.locales[page.lang].feedback_form.email_placeholder }}" type="email" name="email" id="contact_email" />
>     </div>
>      <div class="form-group">
>       <label>{{ site.data.locales[page.lang].feedback_form.rating_label }}</label>
>        <div>
>         <input type="radio" name="rating" value="1"> 1
>         <input type="radio" name="rating" value="2"> 2
>         <input type="radio" name="rating" value="3"> 3
>         <input type="radio" name="rating" value="4"> 4
>         <input type="radio" name="rating" value="5"> 5
>       </div>
>     </div>
>     <div class="form-actions margin_bottom_15">
>       <button id="contact-form-submit-button" name="button" type="submit" class="btn-default btn btn-primary btn-lg custom_button">
>         {{ site.data.locales[page.lang].feedback_form.submit_button }}
>       </button>
>     </div>
>     <div class="alert alert-danger form-hidden" id="contact-form-failed-to-submit" role="alert">
>       <strong>{{ site.data.locales[page.lang].feedback_form.submit_failed }}</strong> {{ site.data.locales[page.lang].feedback_form.submit_failed_message }}
>     </div>
>     <div class="alert alert-success form-hidden" id="contact-form-was-submitted" role="alert">
>       <strong>{{ site.data.locales[page.lang].feedback_form.submit_success }}</strong> {{ site.data.locales[page.lang].feedback_form.submit_success_message }}
>     </div>
>   </form>
> </div>
{: .prompt-tip }