<!-- The Side Bar -->

<aside aria-label="Sidebar" id="sidebar" class="d-flex flex-column align-items-end">
  <header class="profile-wrapper">
    <!-- Header image-->
    <a href="{{ '/' | relative_url }}" id="avatar" class="rounded-circle">
      {%- if site.avatar != empty and site.avatar -%}
        {%- capture avatar_url -%}
          {% include media-url.html src=site.avatar %}
        {%- endcapture -%}
        <img src="{{- avatar_url -}}" width="112" height="112" alt="avatar" onerror="this.style.display='none'">
      {%- endif -%}
    </a>
    <!-- Title and tagline -->
    <a class="site-title d-block" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-subtitle fst-italic mb-0">{{ site.data.locales[include.lang].tagline }}</p>
  </header>


  <!-- _TABS -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <!-- home -->
      <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
        <a href="{{ '/' | relative_url }}" class="nav-link">
          <i class="fa-fw fas fa-home"></i>
          <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
        </a>
      </li>
      <!-- the real tabs -->
      {% for tab in site.tabs %}
        <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
          <a href="{{ tab.url | relative_url }}" class="nav-link">
            <i class="fa-fw {{ tab.icon }}"></i>
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
            <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
          </a>
        </li>
        <!-- .nav-item -->
      {% endfor %}
    </ul>
  </nav>
  <!-- END _TABS -->


  <!-- CUSTOM CODE: Language Switcher -->
  <nav class="flex-column flex-grow-1 w-100 ps-0">
    <ul class="nav">
      <li class="nav-item">
        <p style="font-weight: bold; margin-left: 1rem;">
          {{ site.data.locales[site.active_lang].tabs.languages }}
        </p>
      </li>
      {% for tongue in site.languages %}
        <li class="nav-item{% if tongue == site.active_lang %} active{% endif %}">
          {% if tongue == site.active_lang %}
            <a class="nav-link" id="current-lang" style="font-weight: bold; cursor: default;">
              <span style="margin-right: 1.5rem">{{ site.data.locales[tongue].tabs.flag }}</span>
              <span>{{ site.data.locales[tongue].tabs.lang_name | upcase }}</span>
            </a>
          {% else %}
            {% if page.lang-exclusive %}
              {% assign is_lang_exclusive = false %}
              {% for lang in page.lang-exclusive %}
                {% if tongue == lang %}
                  {% assign is_lang_exclusive = true %}
                {% endif %}
              {% endfor %}
              {% if is_lang_exclusive == false %}
                <a class="nav-link disabled-lang">
                  <span style="margin-right: 1.5rem">{{ site.data.locales[tongue].tabs.flag }}</span>
                  <span>{{ site.data.locales[tongue].tabs.lang_name | upcase }}</span>
                </a>
              {% else %}
                <a class="nav-link" {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>
                  <span style="margin-right: 1.5rem">{{ site.data.locales[tongue].tabs.flag }}</span>
                  <span>{{ site.data.locales[tongue].tabs.lang_name | upcase }}</span>
                </a>
              {% endif %}
            {% else %}
              <a class="nav-link" {% static_href %}href="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}"{% endstatic_href %}>
                <span style="margin-right: 1.5rem">{{ site.data.locales[tongue].tabs.flag }}</span>
                <span>{{ site.data.locales[tongue].tabs.lang_name | upcase }}</span>
              </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <!-- END CUSTOM CODE: Language Switcher -->


  <!-- SOCIAL MEDIA -->
  <div class="sidebar-bottom d-flex flex-wrap  align-items-center w-100">
    {% unless site.theme_mode %}
      <button type="button" class="btn btn-link nav-link" aria-label="Switch Mode" id="mode-toggle">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% case entry.type %}
        {% when 'github', 'twitter' %}
          {%- capture url -%}
            https://{{ entry.type }}.com/{{ site[entry.type].username }}
          {%- endcapture -%}
        {% when 'email' %}
          {% assign email = site.social.email | split: '@' %}
          {%- capture url -%}
            javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
          {%- endcapture -%}
        {% when 'rss' %}
          {% assign url = '/feed.xml' | relative_url %}
        {% else %}
          {% assign url = entry.url %}
      {% endcase %}

      {% if url %}
        <a
          href="{{ url }}"
          aria-label="{{ entry.type }}"
          {% assign link_types = '' %}

          {% unless entry.noblank %}
            target="_blank"
            {% assign link_types = 'noopener noreferrer' %}
          {% endunless %}

          {% if entry.type == 'mastodon' %}
            {% assign link_types = link_types | append: ' me' | strip %}
          {% endif %}

          {% unless link_types == empty %}
            rel="{{ link_types }}"
          {% endunless %}
        >
          <i class="{{ entry.icon }}"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <!-- SOCIAL MEDIA -->

  <!-- .sidebar-bottom -->
</aside>
<!-- #sidebar -->
