>  <div class="float_100">
>    <form class="float_100" id="customer-subscribe-form" action="https://api.playingaws.com/prd/subscription" accept-charset="UTF-8" method="post">
>      <div class="left margin_bottom_15">
>        <div class="width_300 left form-group">
>          <input class="form-control" placeholder="me@gmail.com" type="email" name="email" id="subscribe_email" required />
>        </div>
>        <div class="form-actions left">
>          <button id="subscribe-form-submit-button" name="button" type="submit" class="btn-default btn btn-primary btn-lg custom_button">Submit</button>
>          <button id="subscribe-form-loading-submit-button" name="button" class="btn btn-default btn-primary btn-lg form-hidden custom_button">Submitting...</button>
>        </div>
>      </div>
>      <div class="left float_100">
>        <div class="alert alert-danger float_100 form-hidden" id="subscribe-form-failed-to-submit" role="alert">
>          <strong>Failed to submit the form</strong> Please, try again.
>        </div>
>        <div class="alert alert-success float_100 form-hidden" id="subscribe-form-was-submitted" role="alert"><strong>Thank you to subscribe</strong>. I'll send you some notifications with new updates!</div>
>      </div>
>    </form>
>  </div>