.form-hidden {
    display: none;
}
.float_100 {
  float: left;
  width: 100%;
}
.width_300 {
  width: 300px !important;
}
.left {
  float:left;
}
.custom_button {
  font-size: 1rem !important;
  padding: .275rem .75rem !important;
  margin-left: 5px !important;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin_right_15 {
  margin-right: 15px;
}
details {
  margin-bottom: 15px;
}
.language-ruby{
  margin-top: 15px;
  float: left;
  margin-bottom: 0px;
}
#toc-wrapper ul .toc-link {
  white-space: normal !important;
}
#panel-wrapper .text-truncate {
  white-space: normal !important;
  /* list-style-position: inside !important;
  list-style-type: disclosure-closed !important; */
}
#panel-wrapper .text-truncate a {
  padding-left: 5px;
}
.access>section:not(:last-child) {
  margin-bottom: 2rem;
}
.preview-img img {
  object-fit: contain;
  width: 95%;
  height: 100%;
  max-height: 150px !important;
}
#sidebar #avatar{
  margin-left: 20px;
  width: 8rem;
  height: 8rem;
}
#sidebar #avatar img {
  width: 130px;
  height: 130px;
}
.form-group{
  margin-bottom: 10px;
}
.preview-img{
  text-align: center;
  /* width: auto !important; */
  /* height: auto !important; */
  display: flex;
  align-items: center;
  height: 100% !important;
  justify-content: center;
}
.preview-img:not(.no-bg) {
  background: none !important;
}
#related-posts .card h4, #post-list .card .card-body .card-text.content p, #post-list .card .card-body .card-title {
  display: initial !important;
}
/* Customization of the colours of highlight text */
html:not([data-mode]), html[data-mode=dark]{
  --highlighter-rouge-color: #de6b18;
}
html[data-mode='light'] {
  --inline-code-bg: #3f596f;
  --highlighter-rouge-color: white;
}
