.form-hidden {
    display: none;
}
.float_100 {
  float: left;
  width: 100%;
}
.width_300 {
  width: 300px !important;
}
.left {
  float:left;
}
.custom_button {
  font-size: 1rem !important;
  padding: .275rem .75rem !important;
  margin-left: 5px !important;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin_right_15 {
  margin-right: 15px;
}
details {
  margin-bottom: 15px;
}
.language-ruby {
  margin-top: 15px;
  float: left;
  margin-bottom: 0px;
}
#toc-wrapper ul .toc-link {
  white-space: normal !important;
}
#panel-wrapper .text-truncate {
  white-space: normal !important;
  /* list-style-position: inside !important;
  list-style-type: disclosure-closed !important; */
}
#panel-wrapper .text-truncate a {
  padding-left: 5px;
}
.access>section:not(:last-child) {
  margin-bottom: 2rem;
}
.preview-img img {
  object-fit: contain;
  width: 95%;
  height: 100%;
  /* max-height: 150px !important; */
}
#sidebar #avatar {
  margin-left: 20px;
  width: 8rem;
  height: 8rem;
}
#sidebar #avatar img {
  width: 130px;
  height: 130px;
}
.form-group {
  margin-bottom: 10px;
}
.preview-img {
  text-align: center;
  /* width: auto !important; */
  /* height: auto !important; */
  display: flex;
  align-items: center;
  height: 100% !important;
  justify-content: center;
  padding: 1rem !important;
  aspect-ratio: 0 !important;
}
.preview-img:not(.no-bg) {
  background: none !important;
}
#related-posts .card h4, #post-list .card .card-body .card-text.content p, #post-list .card .card-body .card-title {
  display: initial !important;
}
/* Customization of the colours of highlight text */
html:not([data-mode]), html[data-mode=dark] {
  --highlighter-rouge-color: #de6b18;
}
html[data-mode='light'] {
  --inline-code-bg: #3f596f;
  --highlighter-rouge-color: white;
}
html[data-mode=light] [class^=prompt-] {
  --inline-code-bg: #3f596f;
  --highlighter-rouge-color: white;
}
.card {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color) !important;
}
.access, #post-list, main h1  {
  margin-top: 1rem !important;
}
.access>section {
  border-left: 1px solid rgba(0, 0, 0, 0.175) !important;
}
.px-md-4 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}
.px-xxl-5 {
  /* padding-right: 1rem !important; */
  padding-right: 0px !important;
  padding-left: 0px !important;
}
#sidebar, search {
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
}
.access {
  margin-bottom: 0px !important;
}
#panel-wrapper {
  padding-right: 1.5rem !important;
  padding-left: 0px !important;
}
#post-list .card .card-body {
  padding: 1rem !important;
}
#post-list .preview-img {
  width: auto !important;
}
.preview-img img {
  width: auto !important;
}
#sidebar .profile-wrapper {
  margin-top: 1rem;
}
#sidebar .sidebar-bottom .lang-div {
  margin-bottom: 0.2rem;
  padding: 0;

  .nav-item {
    font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    margin-bottom: 0.15rem;

    .nav-link {
      padding: 0.8rem;
      border-radius: 25%/75%;
      font-size: 0.9rem;
      color: var(--sidebar-active-color);
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .disabled-lang {
      background-color: var(--sidebar-disabled-color);
      color: #ff0000;
    }

    .disabled-lang:hover {
      background-color: #ffe3e5;
    }

    &.active .nav-link {
      background-color: var(--sidebar-hover-bg);
      font-weight: bold;
    }
  }

  #language {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
  }

  @font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }
}

#sidebar ul li.nav-item a.disabled-lang {
  opacity: 0.1;
}

#sidebar ul li.nav-item a.nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/* Table without scroll and adjusting content */
/* table {
  width: 100% !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
}

th, td {
  padding: 8px;
  text-align: left  !important;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word !important;
  white-space: normal !important;
  max-width: 300px;
  min-width: 100px;
} */

.table-wrapper>table thead th, .table-wrapper>table tbody tr td {
  white-space: normal !important;
}